<section class="bgTest">
  <!-- <div class="test-headline text-center">
      <h1 id="whyStudy" class="display-2 animated fadeIn">Why study with Spheres?</h1> 
      <h5 id="quote5" class="animated fadeIn">Scroll down for more reviews</h5>     

  </div>  -->
  <div class="row test text-center">
    <div class="col-12">
      <h2 class="display-4">School Policies</h2>
      <h6>Welcome to Spheres School of Music! </h6>
      <br>
      <h6>These policies have been crafted to create a user-friendly and misunderstanding-free environment for students, parents and teachers.</h6>
      <br>
      
      <h6>Spheres School of Music reserves the right to amend these policies from time to time and will update clients with an email should any changes occur. </h6>
      <h5>Rates / Billing</h5>
      <hr>
      <h6>Spheres is currently teaching lessons out of students' homes in the Greater Victoria Area. Due to variance in travel times for the instructor, lesson rates are based on a sliding scale depending on the required travel time. Please contact us to get a lesson quote. </h6>
      <br>      
      <h6>An invoice for lessons will be provided twice a month on the 16th and last day of the month. Please settle the invoice within one week of receiving it. We accept cash or e-transfers sent to anna@spheresschool.ca.  </h6>
      <h5>Semester Schedule</h5>
      <hr>
      <h6>The fall semester runs from September - December with a break taken over Christmas.  </h6>
      <h6>The winter semester runs from January - March with a break taken over Spring Vacation. </h6>
      <h6>The spring semester runs from April - June. </h6>
      <h6>Summer lessons run July - August and are available upon request.</h6>
      <h6>There are no lessons on statutory holidays.  </h6>
      <h5>Cancellations </h5>
      <hr>
      <h6>In the event a student is unable to attend a lesson,  Spheres School of Music requires a minimum of 48 hours notice to cancel or reschedule. This is in respect for our instructors who reserve a specific time for each student on a weekly basis. This 48 hours of notice provides our instructors the opportunity to reschedule their time. If this required notice is not provided, the student will be charged for the lesson. </h6>
      <br> 
      <h6>If a student falls ill please let us know as soon as possible.</h6>
      <br>
      <h6>If an instructor has to cancel a lesson, 48 hours of notice will be given and a make-up lesson time slot will be offered. </h6>
    </div>
  </div>

</section>


<!--- Testimonial Section -->

<!-- <div class="container-fluid white padding">
  <div class="row test text-center">
    <div class="col-12">
      <h2 class="display-4">Reviews</h2>
    </div>
    <hr>
    <div class="col-12">
      <h6>"When I went out to search for a piano instructor for my daughter I was looking for someone who of course loved music
        but more importantly could pass that love along and make the learning experience fun, not a chore. Also, someone
        who had patience, they were working with kids (so kind of a prerequisite). We went through two horrible experiences
        before someone referred us to Anna, who has taught my daughter for the past four years. My daughter is now eleven
        and practices without being nagged, I actually have to get her to stop on occasion, she is excited for her lessons
        and her skill has excelled significantly. This is all because Anna made learning fun, she knows how to speak to kids
        and keep them engaged. It has been a joy watching them work together!" </h6>
      <h6>- Jennifer Kanik</h6>
      <hr>
      <h6>Anna of Spheres School has been teaching piano to my son and daughter, aged 8 and 10, since March 2017. We have been
        so impressed with their progress in this time. They have progressed from absolute beginners to kids that can read
        notes, play the piano with both hands, and interpret the music with feeling. Most importantly, they’ve both grown
        to thoroughly enjoy playing the piano! Anna’s calm demeanour and fun teaching methods were well received by both
        kids and their individual learning styles. I know that my daughter also really appreciated having input into the
        lesson plan when she got to choose some of the music to learn. Anna was always punctual and organized, and she made
        very good use of the lesson time. I cannot recommend her highly enough. We are very sorry to see her leave Calgary! </h6>
      <h6>- Kate Dochstader</h6>
      <hr>
      <h6>"In just a couple of words Anna is an awesome piano teacher.   My children, 11 & 9, have been taking traditional piano
        classes in the past and therefore lost interest in piano all together.  Until we found Anna. Anna can tune into the
        individual needs of the students and allow them to be excited about learning piano. We are very happy for Anna's
        new phase of life as she is moving closer to family in Victoria, BC. However, we are sad at the same time to let
        her go." </h6>
      <h6>- Izabela Bulman</h6>
    </div>
  </div>
</div> -->