
<section class="bgTest">
        <div class="test-headline text-center">
                <h2 class="display-2">Why study with Spheres?</h2>
 
                <h6>My daughter really appreciated having input into the lesson plan ...</h6>    
                <h6>Anna can tune into the individual needs of the student...</h6>          
                <h6> I cannot recommend her highly enough...</h6>
                <h6>This is all because Anna made learning fun...</h6>
        
              </div> 
</section>


<!--- Testimonial Section -->

<div class="container-fluid white padding"> 
		<div class="row test text-center">			           
            <div class="col-12">
                   <h2 class="display-4">Reviews</h2>
            </div>
        <hr>            
			<div class="col-12">
				<h6 >"When I went out to search for a piano instructor for my daughter I was looking for someone 
                    who of course loved music but more importantly could pass that love along and make the learning 
                    experience fun, not a chore. Also, someone who had patience, they were working with kids 
                    (so kind of a prerequisite). We went through two horrible experiences before someone referred us 
                    to Anna, who has taught my daughter for the past four years. My daughter is now eleven and practices 
                    without being nagged, I actually have to get her to stop on occasion, she is excited for her lessons
                     and her skill has excelled significantly. This is all because Anna made learning fun, she knows how
                      to speak to kids and keep them engaged. It has been a joy watching them work together!" </h6>

                    <h6>- Jennifer Kanik</h6>
        <hr> 
                <h6 >Anna of Spheres School has been teaching piano to my son and daughter, aged 8 and 10, since March 2017. 
                    We have been so impressed with their progress in this time. They have progressed from absolute beginners 
                    to kids that can read notes, play the piano with both hands, and interpret the music with feeling. Most 
                    importantly, they’ve both grown to thoroughly enjoy playing the piano! Anna’s calm demeanour and fun teaching 
                    methods were well received by both kids and their individual learning styles. I know that my daughter also 
                    really appreciated having input into the lesson plan when she got to choose some of the music to learn. 
                    Anna was always punctual and organized, and she made very good use of the lesson time. I cannot recommend 
                    her highly enough. We are very sorry to see her leave Calgary! </h6>
                
                    <h6 >- Kate Dochstader</h6>
        <hr> 
                <h6 >"In just a couple of words Anna is an awesome piano teacher.   My children, 11 & 9, have been taking traditional
                     piano classes in the past and therefore lost interest in piano all together.  Until we found Anna. Anna can
                      tune into the individual needs of the students and allow them to be excited about learning piano. We are very
                      happy for Anna's new phase of life as she is moving closer to family in Victoria, BC. However, we are sad at 
                      the same time to let her go." </h6>

                    <h6>- Izabela Bulman</h6>
            </div>
		</div>
        </div>
        


  <!--- Footer -->

  <footer>
                <div class="container-fluid padding">
                <div class="row footertext text-center">
                  
                  <div class="col-12">
                    <hr class="light-100">
                    <h5 id="copyright">&copy; SpheresSchool.ca</h5>
                  </div>
                </div>
                </div>
              </footer>