<!--- Performance Hero Slider -->

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-caption">
            <h1 class="display-2">Performance</h1>
            <h3>What are your dreams made of?</h3>
            <button type="button" class="btn btn-outline-light btn-lg">Production</button>
            <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
          </div>
      <div class="carousel-item active">
        <img src="../../../assets/images/perform1.jpg">
        
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/perform2.jpg">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/perform3.jpg">
      </div>
    </div>
  </div>
  
<!--- Welcome Section -->

<div class="container-fluid white padding"> 
		<div class="row perform text-center">
			<div class="col-12">
				<h2 class="display-4">Get out there </h2>
			</div>
			<hr>
			<div class="col-12">
				<h6 >If you end up with a boring miserable life because you listened to your mom, your dad, your teacher, your priest, or some guy on television telling you how to do your shit, then you deserve it</h6>
       <h6> -- Frank Zappa </h6>
      </div>
		</div>
  </div>
  

  <!--- Two Column Section -->


<div class="container-fluid white padding">
		<div class="row performdetail padding">      
        <div class="col-lg-6">
				<h2>If you build it...</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>     
        <br>
				<a href="#" [routerLink]="['/ourschool']" class="btn btn-primary">Learn More</a>
			</div>
			<div class="col-lg-6">
				<img id="sphereslogo" src="../../../assets/images/logo.png" class="img-fluid">
			</div>
		</div>
	</div>




    <!--- Footer -->

    <footer>
        <div class="container-fluid padding">
        <div class="row footertext text-center">
          
          <div class="col-12">
            <hr class="light-100">
            <h5 id="copyright">&copy; SpheresSchool.ca</h5>
          </div>
        </div>
        </div>
      </footer>