.padding {
	padding-bottom: 4rem;
  }


/* Images in carousel - take up full screen with full image */
.carousel-inner  {
    margin-top: -80px;
  }
  
/* Stationary Hero Section */
.carousel-inner img 
{
    box-sizing: border-box; 
    display: table;
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

  /* Style caption sitting directly in the center */
  .carousel-caption {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }
  
  /* Main hero heading */
  .carousel-caption h1 {
    font-size: 800%;
	text-shadow: 7px 2px 6px #FFF;    
	color: #000;   
  }
  
  /* Main sub heading */
  .carousel-caption h3 {
	font-size: 300%;
	font-weight: 500;
	text-shadow: 7px 2px 6px #000;
    color: #FFF;
    padding-bottom: 40px;
  }
  
  /* Main button primary */
  .btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
  }
  
  /* Main button primary HOVER */
  .btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
  }

  /*----------------------------------------Welcome Section--------------------------*/

  /* Performance Intro section */
.perform {
    width: 77%;
       margin: 0 auto; 
       padding-top: 4rem;
     }
   
     /* Performance Intro horizontal line */
   .perform hr {
       border-top: 2px solid #000;
       width: 95%; 
       margin-top: .3rem;
       margin-bottom: 1rem; 
     }
   
    /* Performance Intro heading */
   .perform h2 {
       font-size: 600%;
       font-weight: 500;
       color: #000;
    }
     /* Performance Intro sub heading */
   .perform h6 {
       font-size: 200%;
       font-weight: 500;
       color: #000;
    }


    /*----------------------------------------------- Logo 2 Part Section---------------------------------- */

.performdetail{
	padding-top: 75px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: -50px;                              /* Removes small parralax gap */
}

#sphereslogo {
	width: 300px;
	padding-top: 40px;
}

.performdetail p {
	font-size: 150%;
	font-weight: 500;
	color: #000;
}

  /*-------------------------------------------------- Footer Section--------------------------------------- */

  footer{
    background-color: #000;
    color: #d5d5d5;
    padding-top: 2rem;
    }
  
  
  hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
   }
  
  hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .footertext p {
    font-size: 130%;
    font-weight: 500;
    color: #FFF;
  }
  
  .footertext h5 {
    font-size: 200%;
    font-weight: 500;
    color: #FFF;
  }
  
  /* Footer copyright line */
  footer a {
    color: d5d5d5;             /* to keep same color since phone numbers show up as blue*/
  }
  
  #copyright {
    padding-top: 40px;
  }