<section class="bgContact">

    <div class="container-fluid padding">
        <div class="row padding">      
            <div class="col-md-6">

                <div class="modal-dialog text-center">
                    <div class="col-sm-8 main-section">
                      <div class="modal-content">
                        <div class="col-12 user-img">
                          <img id="contactlogo" src="../../../assets/images/logo.png">      
                        </div>
                
                        <form class="col-12" type="post" (submit)="messageSubmit()">
                         
                          <div class="form-group fullName">
                            <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name" name="name">
                          </div>
                         
                          <div class="form-group">
                            <input  type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email" name="email">
                          </div>
                         
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Phone Number" [(ngModel)]="phone" name="phone">
                          </div>
        
                          <div class="form-group">  
                            <textarea  class="form-control" name="message" [(ngModel)]="message" rows="4" placeholder="Enter Message"></textarea>
                          </div>
                         
                          <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Send</button>
                        </form>
                
                        <div class="col-12 response">
                          <p>{{response}}</p>
                        </div>
                
                      </div>      <!-- End of modal content -->
                    </div>
                  </div>        
           </div>
          <div class="col-md-6 ">
              <div class="landing-text">
            <!-- <h1 class="display-2">Contact</h1> -->
            <h3>Get in touch with Spheres today</h3>         
          </div>
          </div>
        </div>
      </div>
</section>




