
<section class="bgContact"></section>
<!-- 
<div>
    <h3>Email Us</h3>
    {{msg}}
    <form type="post" (submit)="messageSubmit()">
      <p>
        <label>Name</label>
        <input type="text" [(ngModel)]="name" name="name">
      </p>
      <p>
        <label>Email Address</label>
        <input type="email" [(ngModel)]="email" name="email">
      </p>
      <p>
        <label>Phone Number</label>
        <input type="text" [(ngModel)]="phone" name="phone">
      </p>
      <p>
        <label>Message</label>
        <textarea name="message" [(ngModel)]="message" rows="5"></textarea>
      </p>
      <p >
        <button type="submit">Submit</button>
      </p>
    </form> -->
