

.white{
	background-color: white;
}

.padding {
	padding-bottom: 4rem;
  }



/* Parralax Hero Section */
.bgAbout 
{
    background: url('../../../assets/images/about.jpg')  no-repeat center center fixed;
    display: table; 
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.bgAbout:before{
	content: '';
	background: url('../../../assets/images/about.jpg') no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-size: cover; 
	z-index: -1;
}


/* Style caption sitting directly in the center */
.about-headline {
	text-align: center;
  vertical-align: middle;

  }

  /* Main Spheres heading */
.about-headline h1 {
	font-size: 700%;
	text-shadow: 7px 2px 6px #000000;       /*Shadow is 1px horz, 1px vert, 10px width, color black*/
	color: #FFF;
  padding-top: 150px;                            /* Push down from top cause vertical-align is not working*/
	
}

  /* School Of Music heading */
  .about-headline h3 {
	font-size: 300%;
	font-weight: 500;
	text-shadow: 7px 2px 6px #000000;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 30px;
  }


  /* Main button primary - ADJUST ME WITH COOL COLOR */
  .btn-primary {
	color: #000000;
	background-color: #FFF;
	border: 1px solid rgb(26, 26, 26);
  }

  /* Main button primary HOVER - ADJUST ME WITH COOL COLOR */
  .btn-primary:hover {
	background-color: #2a838f;
	border: 1px solid #563d7c;
  }


/*----------------------------------------Our Purpose Section--------------------------*/

  /* About blurb container */
  .about {
       width: 60%;
       margin: 0 auto; 
       padding-top: 4rem;
     }
   
     /* Welcome horizontal line */
   .about hr {
       border-top: 2px solid #000;
       width: 95%; 
       margin-top: .3rem;
       margin-bottom: 1rem; 
     }
   
    /* About heading */
   .about h2 {
       font-size: 400%;
       font-weight: 500;
       color: #000;
    }

     /* About blurb */
   .about h6 {
       font-size: 200%;
       font-weight: 500;
       color: #000;
    }
   


    /* Meet heading */
   .meet h2 {
    font-size: 400%;
    font-weight: 500;
    color: #FFF;
    margin-top: 40px;
 }

  /*-------------------------------------------------- Footer Section--------------------------------------- */

  footer{
    background-color: #000;
    color: #d5d5d5;
    padding-top: 2rem;
    }
  
  
  hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
   }
  
  hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .footertext p {
    font-size: 130%;
    font-weight: 500;
    color: #FFF;
  }
  
  .footertext h5 {
    font-size: 200%;
    font-weight: 500;
    color: #FFF;
  }
  
  /* Footer copyright line */
  footer a {
    color: d5d5d5;             /* to keep same color since phone numbers show up as blue*/
  }
  
  #copyright {
    padding-top: 40px;
  }