

<section class="bgAbout">
             <div class="about-headline">
                <h1 class="display-2">Our School</h1>
                <h3>Behind every door an adventure awaits</h3>
                <!-- <button type="button" class="btn btn-primary btn-lg">Meet the team</button> -->
                <img id="herologo" src="../../../assets/images/fly.png" class="img-fluid">
              </div> 
</section>



<!--- Our Purpose Section -->

<div class="container-fluid white padding"> 
		<div class="row about text-center">	
            <div class="col-12">
                    <h2>Our Purpose</h2>
            </div>           		
			<hr>
			<div class="col-12">
				<h6 >Spheres strives to blend the worlds of classical music and electronic music production 
                    into a seamless education program that inspires and empowers students to explore, 
                    discover and express their passion for musical creativity and expression</h6>

                <h6 >   After the fundamentals of musical language are learned students will be encouraged to 
                    create their own musical ideas. These musical ideas can be further developed into professional 
                    sounding songs using music production software such as Ableton Live or GarageBand</h6>
            </div>
            <hr>
		</div>
	</div>

<!--- Meet the team -->

<div class="container-fluid padding">
        <div class="row meet text-center">
            <div class="col-12">
                <h2>Meet The Team</h2>
            </div>
            <hr>
        </div>
    </div>
    
    <!--- Cards -->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-md-6">
                <div class="card">
                    <img src="../../../assets/images/anna.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Anna Kousk</h4>
                        <p class="card-text">Anna’s teaching philosophy arises from a space of inspiration and curiosity. 
                            In order to uncover the depths of each student’s unique form of creative self-expression,
                            fun and enjoyment are fundamental to the process of musical learning, growth and exploration. 
                                Anna has been playing piano for 23 years, composing and performing her own music for 10 
                                years and teaching for 5 years. With a BAMus & Minor in Sonic Arts from the University of 
                                Calgary, and an Electronic Music Production certificate from Langara College she has 
                                developed  her own innovative teaching style. This style builds practical piano techniques
                                and music theory as a basic foundation for understanding and exploring musical language. 
                                There are further opportunities to integrate this knowledge into music production using 
                                new music technology to create full professional sounding songs.</p>
                        <a href="#" class="btn btn-outline-secondary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="../../../assets/images/pj.jpg" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">PJ Miller</h4>
                            <p class="card-text">PJ is an experienced composer, audio engineer and concert sound designer 
                                with over 10 years experience in the music industry. Blending his classical guitar roots 
                                with modern production and sound design techniques, he has sculpted his own compositional 
                                approach with intricate classically inspired melodies morphed by innovative sound design. 
                                As a concert sound designer, he has tuned stereo rigs for concerts up to 20,000 people
                                and has done many tours throughout North America and Europe. He spent several years 
                                as a sound designer in R&D at PK sound developing large-format line array 
                                loudspeakers and subwoofers. All this live sound design experience has left him with 
                                a unique approach to mixing and mastering studio music. He has been training audio 
                                engineers in the art of acoustics for over 6 years with many of his students going on
                                to become touring sound technicians.</p>
                            <a href="#" class="btn btn-outline-secondary">See Profile</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    


