
<!-- Main Hero Image -->

<section class="bgProduct">
        <div class="landing-text">
                <h1 class="display-2">Production</h1>
                <h3>Bring your ideas to LIFE with modern studio techniques</h3>
              
              </div>
</section>


<!--- Jumbotron -->

<div class="container-fluid padding">
        <div class="row jumbotron">
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h6>Lessons individually designed to suit the unique talents of each student.
                Lessons individually designed to suit the unique talents of each student.
                Lessons individually designed to suit the unique talents of each student.
                Lessons individually designed to suit the unique talents of each student. </h6>
          </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#" [routerLink]="['/contact']"><button type="button" class ="btn btn-primary btn-lg">Sign Up</button></a>
          </div>
        </div>
      </div>


  <!--- Sound Design  Section -->


  <div class="container-fluid">
		<div class="row product bgBlack padding">  
            <div class="col-lg-6 padding">
                <img id="serum" src="../../../assets/images/production/serum.jpg" class="img-fluid">
                <h5>Serum</h5>
            </div>    
        <div class="col-lg-6">
                <h2>Sound Design</h2>
                <hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#design">More Tools</a>
                <div id="design" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">
                            <div class="cos-sm-6 col-md-3">  <!-- assume xs=12, then specify what to do as screen increases-->
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
		</div>
	</div>

<!-- Percussion and Drums -->

 <div class="container-fluid">
		<div class="row product bgWhite padding">           
             <div class="col-lg-6">
                <h2>Percussion & Drums</h2>
                <hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#drums">More Tools</a>
                <div id="drums" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">
                            <div class="cos-sm-6 col-md-3">  <!-- assume xs=12, then specify what to do as screen increases-->
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Kick 2</h5>
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Kick 2</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Kick 2</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Kick 2</h5>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
            <div class="col-lg-6 padding">
                    <img id="kick" src="../../../assets/images/production/kick.jpg" class="img-fluid">
                    <h5>Kick 2</h5>
            </div> 
        </div>    
	</div>



     <!--- Composing Section -->


  <div class="container-fluid">
		<div class="row product bgBlack padding">  
            <div class="col-lg-6 padding">
                <img id="composing" src="../../../assets/images/production/arranging.jpg" class="img-fluid">
                <h5>Serum</h5>
            </div>    
        <div class="col-lg-6">
                <h2>Composing</h2>
                <hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#compose">More Tools</a>
                <div id="compose" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">
                            <div class="cos-sm-6 col-md-3">  <!-- assume xs=12, then specify what to do as screen increases-->
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Serum</h5>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
		</div>
	</div>





<!-- Mixing -->

 <div class="container-fluid">
		<div class="row product bgWhite padding">           
             <div class="col-lg-6">
                <h2>Mixing</h2>
                <hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem vitae reprehenderit tenetur dolorem facere nam ducimus quae eum nemo placeat nostrum, accusantium voluptates numquam animi cumque in porro vel.</p>
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#mixing">More Tools</a>
                <div id="mixing" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">
                            <div class="cos-sm-6 col-md-3">  <!-- assume xs=12, then specify what to do as screen increases-->
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Ableton</h5>
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Ableton</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Ableton</h5>                                
                            </div>
                            <div class="cos-sm-6 col-md-3">
                                <img src="../../../assets/images/production/serum.jpg" class="thumbnail">
                                <h5>Ableton</h5>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
            <div class="col-lg-6 padding">
                    <img id="abletonMix" src="../../../assets/images/production/mixing.jpg" class="img-fluid">
                    <h5>Ableton</h5>
            </div> 
        </div>    
	</div>




    <!--- Footer -->

    <footer>
        <div class="container-fluid padding">
        <div class="row footertext text-center">
          
          <div class="col-12">
            <hr class="light-100">
            <h5 id="copyright">&copy; SpheresSchool.ca</h5>
          </div>
        </div>
        </div>
      </footer>