
<!-- Main Hero Image -->

<section class="bgProduct">
        <div class="landing-text">
            <div class="frame text-center">
                <h1 class="display-2">Production</h1>
                <h3>Bring your ideas to LIFE with modern studio techniques</h3>
                <div class="btnSignUp">
                    <a href="#" [routerLink]="['/contact']"><button type="button" class ="btn btn-primary btn-lg">Sign Up</button></a>
                </div>
            </div>
        </div>
</section>


<!--- Jumbotron -->

<div class="container-fluid padding">
    <div class="row jumbotron">
        <div class="col-12 text-center">
         <h6>Learn cutting edge home studio production software and techniques to produce your own musical projects. 
         Experience how easy and fun audio engineering can be while creating things you can share with  your friends.</h6>
        </div>
    </div>
</div>


  <!--- Sound Design  Section -->

  <div class="container-fluid">
		<div class="row bgBlack padding">  
            <div class="col-lg-6 padding">
                <img id="serum" src="../../../assets/images/production/serumS.jpg" class="img-fluid">
                <h5>Serum</h5>
            </div>    
        <div class="col-lg-6">
                <h2>Sound Design</h2>
                <hr>
				<p>Forge your own music with sound design tools like Serum, FM8, Absynth, Kontakt, Massive</p>
				<p>Evoke emotions and reflect moods by capturing, manipulating and mixing various audio files 
                and using plugins and virtual synthesizer instruments</p>
				<p>Use sound design to expand your sonic fluency and understand sounds heard in the world around 
                you, but also be able to create or record sounds you are imagining for your own music</p>
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#design">More Tools</a>
                <div id="design" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">                      
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/sdFM8S.jpg" class="thumbnail">
                                <h5>FM8</h5>                                
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/sdMassiveS.jpg" class="thumbnail">
                                <h5>Massive</h5>                                
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/sdAbsynthS.jpg" class="thumbnail">
                                <h5>Absynth</h5>                                
                            </div>
                            <div class="col-sm-6 col-md-3">  
                                <img src="../../../assets/images/production/sdKontaktS.jpg" class="thumbnail">
                                <h5>Kontakt</h5>
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
		</div>
	</div>

<!-- Percussion and Drums -->

 <div class="container-fluid">
		<div class="row bgWhite padding">           
             <div class="col-lg-6">
                <h2>Percussion & Drums</h2>
                <hr>
				<p>Understand the basic and functional elements of beats. Play with dynamics and timing to learn to 
                create your own rhythmic feel</p>
				<p>Use drum kits to shape unique grooves and create electronic drum tracks. Enhance these grooves 
                with layers of percussion and newly designed electronic timbres</p>
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#drums">More Tools</a>
                <div id="drums" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/drumRackS.jpg" class="thumbnail">
                                <h5>Racks</h5>                                
                             </div>
                            <div class="col-sm-6 col-md-3">  
                                <img src="../../../assets/images/production/perBatteryS.jpg" class="thumbnail">
                                <h5>Battery</h5>
                            </div>                          
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/drumLoopsS.jpg" class="thumbnail">
                                <h5>Arranging</h5>                                
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/drumADSRS.jpg" class="thumbnail">
                                <h5>ADSR</h5>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
            <div class="col-lg-6 padding">
                <img id="kick" src="../../../assets/images/production/kickS.jpg" class="img-fluid">
                <h5>Kick 2</h5>
            </div> 
        </div>    
	</div>

     <!--- Composing Section -->

  <div class="container-fluid">
		<div class="row bgBlack padding">  
            <div class="col-lg-6 padding">
                <img id="composing" src="../../../assets/images/production/comAbletonS.jpg" class="img-fluid">
                <h5>Ableton Live - Arranger View </h5>
            </div>    
        <div class="col-lg-6">
                <h2>Composing</h2>
                <hr>
				<p>Enter the practice of creating or writing a new song or piece of music</p>
				<p>Use the fundamentals principles of music to construct complex and interesting ideas</p>
				<p>Bring together elements of melody & rhythm</p>
				<p>Explore new possibilities and express your own unique musical voice</p>
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#compose">More Tools</a>
                <div id="compose" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">
                                <div class="col-sm-6 col-md-3">
                                        <img src="../../../assets/images/production/comBitWigS.jpg" class="thumbnail">
                                        <h5>BitWig</h5>                                
                                    </div>
        
                            <div class="col-sm-6 col-md-3">  <!-- assume xs=12, then specify what to do as screen increases-->
                                <img src="../../../assets/images/production/comLogicS.jpg" class="thumbnail">
                                <h5>Logic</h5>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/comGBS.jpg" class="thumbnail">
                                <h5>GarageBand</h5>                                
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/comNotateS.jpg" class="thumbnail">
                                <h5>Noteability Pro</h5>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>			
		</div>
    </div>
    
<!-- Mixing -->

 <div class="container-fluid">
		<div class="row bgWhite padding">           
             <div class="col-lg-6">
                <h2>Mixing</h2>
                <hr>
				<p>Learn how to apply EQ, panning, reverberation and compression among other audio processing tools to bring out the best in your song</p>
				<p>Bring your tapestry of sounds together with clean and efficient mixing techniques</p>
                
                <br>
                <a class="btn btn-primary padBelow" data-toggle="collapse" data-target="#mixing">More Tools</a>
                <div id="mixing" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center">
                            <div class="col-sm-6 col-md-3">  <!-- assume xs=12, then specify what to do as screen increases-->
                                <img src="../../../assets/images/production/mixproqS.jpg" class="thumbnail">
                                <h5>ProQ</h5>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/oscarizerS.jpg" class="thumbnail">
                                <h5>Oscarizer</h5>                                
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/saturnS.jpg" class="thumbnail">
                                <h5>Saturn</h5>                                
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <img src="../../../assets/images/production/mixReplicaS.jpg" class="thumbnail">
                                <h5>Replika</h5>                                
                            </div>
                        
                          
                        </div>
                    </div>
                </div>
			</div>			
            <div class="col-lg-6 padding">
                <img id="abletonMix" src="../../../assets/images/production/abletonMixS.jpg" class="img-fluid">
                <h5>Ableton Live - Clip View</h5>
            </div> 
        </div>    
	</div>



