@font-face{                            /* load font for use */
    font-family: kouskFont;
    src: url("../../../assets/fonts/CurlyStars.ttf");
}

/* make navbar overlay bg image */
nav.navbar {                                     
    background-color: transparent;
    position: fixed;
    width: 100%;
}

/* background of dropdowns  */
.navbar-nav > li > .dropdown-menu {
     background-color: transparent; 
    }

/* make nav items white */
.navbar .nav-item .nav-link{
    color: rgb(255, 255, 255);
    font-family: kouskFont, sans-serif;
    font-size: 180%;
    text-shadow: 3px 1px #000000;
    padding-left: 15px;
}

/* make nav items white HOVER */
.navbar .nav-item .nav-link:hover{
    color: rgb(239, 245, 238);
}

/* make dropdown nav items white */
.dropdown-menu .dropdown-item{
    color: rgb(255, 255, 255);
    font-family: kouskFont, sans-serif;
    font-size: 130%;
    background-color:transparent; 
    text-shadow: 3px 1px #000000; 
}

/* make dropdown nav items white */
.dropdown-menu .dropdown-item:hover{
    color: rgb(239, 245, 238);
}

.dropdown-menu {
    border: 5px;
}

/* Dropdown hover  */
.dropdown-menu .dropdown-item:hover{
    background-color:transparent;
}


/* change hamburger button border color */
button.navbar-toggler{
    border-color: rgb(251, 251, 251);
    box-shadow: 2px 1px #000000; 
  }





/* .dropdown-item{
    color: white;
}

.nav-link {
    color: white;
}

.navbar-toggler {
    color: white;
} */
/* nav
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0);
    padding: 0 100px;
    box-sizing: border-box;
}

nav .brand
{
    float: left;
    height: 100%;
    line-height: 70px;
}

nav .brand h2
{
    margin: 0;
    padding: 0;
    color: #fff;
}

nav ul
{
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li
{
    list-style: none;
}

nav ul li a
{
    position: relative;
    display: block;
    height: 70px;
    line-height: 70px;
    padding : 0 10px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
} */
