


<nav class="navbar navbar-expand-md navbar-dark sticky-top" >
	<div class="container-fluid">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/ourschool']">Our School</a>
              <a class="dropdown-item" [routerLink]="['/testimonials']">Testimonials</a>
              <a class="dropdown-item" [routerLink]="['/team']">Team</a>             
            </div>
          </li>         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Lessons</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/piano']">Piano</a>
              <a class="dropdown-item" [routerLink]="['/production']">Production</a>             
            </div>
          </li>  
				<li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>