<!-- Main Hero Image -->

<section class="bgPiano">
        <div class="landing-text">
                <h1 class="display-2">Piano Lessons</h1>
                <h3>Master proper technique while learning your favorite songs</h3>
          <br>
            <div class="btnContact">
                <a href="#" [routerLink]="['/contact']"><button type="button" class ="btn btn-primary btn-lg">Sign Up</button></a>
            </div>
              </div>
</section>


<!--- Jumbotron -->

<div class="container-fluid padding">
        <div class="row jumbotron">
          <div class="col-12 text-center">
            <h6>It's never too late to learn to play the piano. No matter your age or level of experience, Sphere's will customize the lessons to meet your musical aspirations. </h6>
          </div>
        </div>
      </div>


     <!--- Beginner -->

<div class="container-fluid">
        <div class="row lessons text-center">
            <div class="col-12">
                <h1 class="display-4">Beginner</h1>
            </div>
            <hr>
        </div>
    </div>

    <!--- Beginner Cards -->
    <div class="container-fluid padding">
        <div class="row piano">
            <div class="col-md-3">
                <div class="card w-100">
                    <div class="card-body">
                        <img src="../../../assets/images/beginner.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card w-100 text-center">
                        <div class="card-body">
                            <h6 class="card-text">Students will learn how to read and write notes & rhythms,
                                develop proper playing technique and learn basic music theory. </h6>
                            <h6 class="card-text"> They will develop skills in sight reading and ear training, and
                                have the opportunity to play their favourite songs and create some of their own.</h6>
                            <h6 class="card-text">Preparation for Royal Conservatory Exams at the beginner level is offered.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center w-100">
                            <div class="card-body video-wrapper">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L8efNhZiQ2A?start=9" allowfullscreen></iframe>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>


     <!--- Intermediate -->

     <div class="container-fluid">
            <div class="row black lessons text-center">
                <div class="col-12">
                    <h1 class="display-4">Intermediate</h1>
                </div>
                <hr>
            </div>
        </div>
    
        <!--- Intermediate Cards -->
        <div class="container-fluid black padding">
            <div class="row piano ">
                <div class="col-md-3">
                    <div class="card w-100 text-center">
                        <div class="card-body ">
                        <img id="intermediate" src="../../../assets/images/intermediate.png" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card w-100 text-center">
                            <div class="card-body">
                                <h6 class="card-text">Students will expand on the basics learned in beginner lessons to include major keys, chords, and scales. </h6>
                                <h6 class="card-text"> They will progress to more difficult levels of sight reading and ear training and move on to more challenging songs.</h6>
                                <h6 class="card-text">Preparation for Royal Conservatory Exams at the intermediate level is offered.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center w-100">
                                <div class="card-body video-wrapper">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KWj4g0PrQBo" allowfullscreen></iframe>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--- Advanced -->

<div class="container-fluid">
        <div class="row lessons text-center">
            <div class="col-12">
                <h1 class="display-4">Advanced</h1>
            </div>
            <hr>
        </div>
    </div>

    <!--- Advanced -->
    <div class="container-fluid padding">
        <div class="row piano">
            <div class="col-md-3">
                <div class="card w-100 text-center">
                    <div class="card-body">
                        <img id="advanced" src="../../../assets/images/advanced.png" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card w-100 text-center">
                        <div class="card-body">
                            <h6 class="card-text">The skills learned in the beginner and intermediate stages will be further expanded into playing more advanced music and understanding of music theory. </h6>
                            <h6 class="card-text"> The new techniques learned here will provide fundamental building blocks for music composition and a deeper understanding of musical language that will allow more freedom in creative expression.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center w-100">
                            <div class="card-body video-wrapper">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b_E51SV0Zus?start=18" allowfullscreen></iframe>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
 


