




/* Stationary Hero Section */
.bgPiano
{
    background: url('../../../assets/images/piano.jpg')  no-repeat 50% 50%;
    box-sizing: border-box; 
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-top: -80px;
}